html{
  background-color: darkblue;
}
body{
    background-color: whitesmoke;
}
h1,h2{
  font: "Libre Baskerville",serif;
  text-transform: uppercase;
  text-align: center;
}
h3{
  font-family: "Poppins", sans-serif;
}
